.portofolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portofolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portofolio__item:hover {
    border-color: var(--color-primary);
    background: transparent;
}

.portofolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portofolio__item h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    text-emphasis: center;
}

.portofolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.myreview {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    text-emphasis: center;
    text-align: start;
}

/*=============== MEDIA QUERIES ===============*/

/*========== Medium devices ==========*/
@media screen and (max-width:1024px) {
    .protofolio__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
    }
}

/*========== Small devices ==========*/
@media screen and (max-width:600px) {
    .portofolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}